.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
tfplan
*.tfvars
!*.tfvars.example
local.secrets.tfvars
local.generated.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.pem
*.key
